 .slide-item { 
          transition: all 1s ease-in-out;
        }
@media (min-width: 1024px) {
.slick-center .slide-item {
   
          transform: scale(1.05); 
}}
.slick-center,
.slick-current {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
.slick-slide img {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
